@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: local('Lato'), url('./fonts/Lato-Thin.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: local('Lato'), url('./fonts/Lato-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), url('./fonts/Lato-Bold.ttf') format('truetype')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
